# use "openssl rand -base64 32" to generate SECRET

# disable on production using value "1"
NODE_TLS_REJECT_UNAUTHORIZED=1
NEXTAUTH_DEBUG=true

NEXTAUTH_URL=https://localhost
NEXTAUTH_SECRET="SECRET"

# https://console.cloud.google.com
# AUTH_GOOGLE_ID=**.apps.googleusercontent.com
# AUTH_GOOGLE_SECRET=**
