# use "openssl rand -base64 32" to generate SECRET

NODE_ENV=development

# disable on production using value "1"
NODE_TLS_REJECT_UNAUTHORIZED=1

NEXTAUTH_DEBUG=true
NEXTAUTH_URL=https://localhost
NEXTAUTH_SECRET="SECRET"

# https://console.cloud.google.com
# AUTH_GOOGLE_ID="52501080663-6rfckj40jmffihl702hs2jk33k1se94i.apps.googleusercontent.com"
# AUTH_GOOGLE_SECRET="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"

NEXT_PUBLIC_MERCURE_PUBLIC_URL=https://localhost/.well-known/mercure
NEXT_PUBLIC_ENTRYPOINT=https://localhost
